

h1 {
    font-size: 43px;
    border: solid 5px orangered;
    background: navy;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 10px;
}


img {
    margin: 10px;
}


.sidebar {
    padding: 5px;
    position: relative;
    border-top:navy 2px;
    border-bottom: orangered 2px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

span {
    border: orangered 2px;
    padding-left: 3px;
    padding-right:3px;
    background-color:navy; 
    font-size: 15px;
}

.background {
    background-color: navy;
    border: solid 5px orangered;

}

.container {
    background-color: navy;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
    text-align: center;
    border: solid 3px orangered;
    color:white
}

#currentword {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

#scoreboard {
    padding: 20px;
}